################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Payments.Api/.vs/Payments.Api
/Payments.Api/bin/Debug/net8.0
/Payments.Api/obj
