services:
  payments_api:
    build: .
    container_name: payments_api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
    ports:
      - "5004:8080"
    networks:
      - monitoring_network
    restart: unless-stopped

networks:
  monitoring_network:
    external: true
    name: monitoring_network
